<header>
    <nav>
        <div class="header-logo">
            Logo<img class="logo" src="../../assets/images/logo.png" alt="">
        </div>
        <div class="header-sections">
            <div class="header-about">
                About
            </div>
            <div class="header-how">
                How It Works
            </div>
            <div class="header-community">
                Community
            </div>
            <div class="header-connect">
                Connect Wallet
            </div>
        </div>
    </nav>
</header>
